.game-over-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.trophy-icon {
  width: 30px;
  height: 60px;
  margin: 10px;
}

.heading {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 50px;
  text-align: center;
}

.score {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 50px;
  text-align: center;
}

.paly-again-button {
  background-color: #fec653;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-family: 'Roboto';
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 5px;
}

.reset-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}
